<div class="detailsBook">
  <div class="image">
    <img src="data:image/jpeg;base64,{{book.image}}" alt="" width="315px" height="465px">
  </div>
  <div class="title">
    <h1>{{book.name}}</h1>
  </div>
  <div class="authors container">
    <div class="author" *ngIf="count==1">
      <pre>Автор: </pre>
    </div>
    <div class="authors" *ngIf="count>1">
      <span>Авторы:</span>
    </div>
    <div class="loopOfAuthors" *ngFor="let author of book.authors">
      <span>{{author.firstName + "  " + author.lastName}}</span>
    </div>
  </div>
  <div class="description">
    <p>{{book.description}}</p>
  </div>
</div>
<button class="btn btn-primary" (click)="toBooks()">
  <span>К списку книг</span>
</button>

