<div *ngIf="!isUpdate; else editTemplate" style="margin-top: 90px;">

    <div class="card border-info mb-3 mx-auto" style="width: 99%">
        <div class="row g-0">
            <div class="col-md-3">
                <img src="data:image/jpeg;base64,{{book.image}}" class="img-fluid rounded-start" alt="..." width="315px"
                     height="465px">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h2 class="card-title">{{book.name}}</h2>
<!--                    Рейтинг: {{book.averageRating}}-->
                    <div class="card-text mb-2">
                        <div class="author" *ngIf="count==1">
                            <span>Автор:</span>
                        </div>
                        <div class="authors" *ngIf="count>1">
                            <span>Авторы:</span>
                        </div>
                        <div class="loopOfAuthors" id="loopOfAuthors" *ngFor="let author of book.authors">
                            <div *ngFor="let author of book.authors">
                      <span class="if" *ngIf="author.firstName==null">
                        {{author.lastName}}<br>
                      </span>
                                <span class="if" *ngIf="author.lastName==null">
                        {{author.firstName}}<br>
                      </span>
                                <span class="if" *ngIf="author.lastName!=null && author.firstName!=null">
                        {{author.firstName + "  " + author.lastName}}<br>
                      </span>
                            </div>
                        </div>
                    </div>
                    <p class="card-text" style="font-style: oblique">{{book.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" (click)="toBooks()">
        <span>К списку книг</span>
    </button>
    <button class="btn btn-primary" (click)="update()" *ngIf="isAdmin">
        <span>Редактировать</span>
    </button>
    <button class="btn btn-primary" (click)="delete()" *ngIf="isAdmin">
        <span>Удалить</span>
    </button>
</div>

<!--шаблон для редактирования-->
<ng-template #editTemplate>
    <div class="card border-info mb-3 mx-auto" style="width: 99% ; margin-top: 90px;">
        <div class="row g-0">
            <div class="col-md-3">
                <img src="data:image/jpeg;base64,{{book.image}}" class="img-fluid rounded-start mb-2" alt="..."
                     width="315px"
                     height="465px"><br>
                <input type="file" class="form-control" placeholder="" required="required"
                       (change)="onFileSelected($event)"/>
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h2 class="card-title">{{book.name}}</h2>
                    <input type="text" [ngModelOptions]="{standalone: true}"
                           placeholder="Название книги" [(ngModel)]="book.name"/><br>
                    <div class="card-text mb-2">
                        <div class="author" *ngIf="count==1">
                            <span>Автор:</span>
                        </div>
                        <div class="authors" *ngIf="count>1">
                            <span>Авторы:</span>
                        </div>
                        <div class="loopOfAuthors" *ngFor="let author of book.authors">
                            <div *ngFor="let author of book.authors">
                      <span class="if" *ngIf="author.firstName==null">
                        {{author.lastName}}<br>
                      </span>
                                <span class="if" *ngIf="author.lastName==null">
                        {{author.firstName}}<br>
                      </span>
                                <span class="if" *ngIf="author.lastName!=null && author.firstName!=null">
                        {{author.firstName + "  " + author.lastName}}<br>
                      </span>
                                <input type="text" [(ngModel)]="authors" [ngModelOptions]="{standalone:true}"
                                       placeholder="Фамилия и имя автора"/>
                            </div>
                        </div>
                    </div>
                    <p class="card-text" style="font-style: oblique">
            <textarea cols="75" [(ngModel)]="book.description" [ngModelOptions]="{standalone:true}"
                      placeholder="Описание"></textarea>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" (click)="saveChange()">
        <span>Сохранить</span>
    </button>
</ng-template>
