<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Заголовок</title>
</head>
<body>
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" routerLink="about" routerLinkActive="active">Домашняя страница</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto" *ngIf="isAuthenticated">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="books" routerLinkActive="active">Список книг</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="addbook" routerLinkActive="active" *ngIf="isAdmin">Добавить
                            книгу</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="user" routerLinkActive="active" *ngIf="isAdmin">Список
                            пользователей</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto" *ngIf="isAuthenticated">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLK" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            </svg>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownLK">
<!--                            <li><a class="dropdown-item" routerLink="account" routerLinkActive="active">Личный кабинет</a></li>-->
                            <li>
                                <a class="dropdown-item" routerLink="about" routerLinkActive="active"
                                   (click)="onLogoutClick()">
                                    Выйти
                                    <svg width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-box-arrow-right"
                                         fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M11.646 11.354a.5.5 0 0 1 0-.708L14.293 8l-2.647-2.646a.5.5 0 0 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
                                        <path fill-rule="evenodd"
                                              d="M4.5 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
                                        <path fill-rule="evenodd"
                                              d="M2 13.5A1.5 1.5 0 0 1 .5 12V4A1.5 1.5 0 0 1 2 2.5h7A1.5 1.5 0 0 1 10.5 4v1.5a.5.5 0 0 1-1 0V4a.5.5 0 0 0-.5-.5H2a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-1.5a.5.5 0 0 1 1 0V12A1.5 1.5 0 0 1 9 13.5H2z"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>


                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngIf="!isAuthenticated">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-fill"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" routerLink="login" routerLinkActive="active">Авторизация</a>
                            </li>
                            <li><a class="dropdown-item" routerLink="registration"
                                   routerLinkActive="active">Регистрация</a>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div>
    <router-outlet (activate)="activate($event)"></router-outlet>
</div>
</body>
</html>
