/*header {
  width: 85%;
  background: lightblue;
  height: 70px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}


a{
  text-decoration: none;  Отменяем подчеркивание у ссылки
  font-size: 24px;
  color: whitesmoke;
}

a:hover{
  color: white;
}

.container .homePage{
  float: left;
  padding-right: 25px;
  font-size: 35px;
}

.container .menu{
  float: left;
}

.container .menu ul{
  margin: 0;
}

.container .menu ul li{
  display: inline-block;
  padding-right: 18px;
  float: left;
}

.container .loginn{
  float: right;
}*/

.navbar-nav .dropdown-menu{
  right: -55px;
  left: auto;
}

