<div class="container login-container" *ngIf="!isAuthenticated; else loggedIn">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>Авторизация</h3>

      <div class="form-group">
        <label>
          <input type="text" [(ngModel)]="username" class="form-control" placeholder="Логин*" value=""/>
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="password" [(ngModel)]="password" class="form-control" placeholder="Пароль*" value=""/>
        </label>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Подтвердить" (click)="onLoginClick()"/>
      </div>
      <div class="form-group">
        <a href="#" class="btnForgetPwd">Забыли пароль?</a>
      </div>
    </div>
  </div>
</div>
<ng-template #loggedIn>
  <h3>Вы авторизованы</h3>
</ng-template>
