<!--<button class="btn btn-secondary" (click)="getBooks()">Find books</button>-->
<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Название</th>
    <th>Авторы</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books" (click)="toDetails(book.name)">
    <td>{{book.id}}</td>
    <td>{{book.name}}<br>
      <img src="data:image/jpeg;base64,{{book.image}}" alt="" width="23%">
    </td>
    <td>
      <span *ngFor="let author of book.authors">
        {{author.firstName + "  " + author.lastName}}<br>
      </span>
    </td>
  </tr>
  </tbody>
</table>
