/*table {
  margin: 30px 20px;
  border-collapse: collapse;
  text-align: center;
  max-width: 98%;
  width: 80%;
}

tr:hover td {
  background: #e8edff;
}

td {
  border-top: 1px solid #e8edff;
  padding: 10px 15px;
}*/

.card {
  transition: all 0.2s ease;
  cursor: pointer
}

.card:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1)
}

.card:focus {
  transform: translateY(5px);
}


