<div class="card border-secondary mx-auto" style="max-width: 18rem;margin-top: 90px;">
  <div class="card-header" style="text-align: center;">Регистрация</div>
  <div class="card-body text-secondary" style="text-align: center;">
    <h5 class="card-title mb-4">Введите логин и пароль</h5>
    <div class="input-group mb-4" style="padding-left: 1.2rem;">
      <label>
        <input type="text" [(ngModel)]="username" class="form-control" placeholder="Логин*" value=""/>
      </label>
    </div>
    <div class="input-group mb-4" style="padding-left: 1.2rem;">
      <label>
        <input type="text" [(ngModel)]="password" class="form-control" placeholder="Пароль*" value=""/>
      </label>
    </div>
    <div class="input-group mb-4" style="padding-left: 1.2rem;">
      <label>
        <input type="text" [(ngModel)]="email" class="form-control" placeholder="Email*" value=""/>
      </label>
    </div>
    <div class="input-group mb-4" style="padding-left: 1.2rem">
      <ng-select [(ngModel)]="selectedRole" placeholder="Выберите роль" style="width: 210px">
        <ng-option *ngFor="let role of roles" [value]="role.id">
          {{role.placeholder}}
        </ng-option>
      </ng-select>
    </div>
    <div class="input-group mb-3">
      <input type="submit" class="btn btn-outline-success mx-auto" value="Подтвердить" (click)="onRegisterClick()"/>
    </div>
  </div>
</div>
