<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>Регистрация</h3>
      <div class="form-group">
        <label>
          <input type="text" [(ngModel)]="username" class="form-control" placeholder="Логин*" value=""/>
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="password" [(ngModel)]="password" class="form-control" placeholder="Пароль*" value=""/>
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="password" [(ngModel)]="email" class="form-control" placeholder="Email*" value=""/>
        </label>
      </div>
      <div class="form-group">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Подтвердить" (click)="onLoginClick()"/>
      </div>
    </div>
  </div>
</div>
