<fieldset class="rating">
  <input type="radio" [name]="inputName" value="5" />
  <label title="5" (click)='onClick(5)'>5 stars</label>

  <input type="radio" [name]="inputName" value="4" />
  <label title="4" (click)='onClick(4)'>4 stars</label>

  <input type="radio" [name]="inputName" value="3"  />
  <label title="3" (click)='onClick(3)'>3 stars</label>

  <input type="radio" [name]="inputName" value="2" />
  <label title="2" (click)='onClick(2)'>2 stars</label>

  <input type="radio" [name]="inputName" value="1" [checked]="rating===1"/>
  <label title="1" (click)='onClick(1)'>1 star</label>
</fieldset>
