<div class="card border-info mb-3 mx-auto" style="width: 99%; margin-top: 90px;">
  <div class="row g-0">
    <div class="col-md-3">
      Выберите изображение обложки<br>
      <input type="file" class="form-control mb-1" placeholder="" required="required"
             (change)="onFileSelected($event)"/>
      <img src="data:image/jpeg;base64,{{image1}}" alt="" class="img-fluid mb-2" width="315px"
           height="465px"><br>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <p class="card-title">Введите название книги<br>
          <input type="text" class="form-control" [(ngModel)]="bookName" [ngModelOptions]="{ standalone: true }"
                 placeholder="Название книги"
                 value=""/>
        </p>
        <p class="card-text">
          Введите фамилию и имя автора<br>
          <input type="text" class="form-control" [(ngModel)]="authorName" placeholder="Фамилия и имя автора" value=""
                 [ngModelOptions]="{ standalone: true }"/>
        </p>
        <p class="card-text">
          Введите описание<br>
          <textarea class="form-control" [(ngModel)]="book.description" [ngModelOptions]="{standalone:true}"
                    placeholder="Описание"></textarea>
        </p>
      </div>
    </div>
  </div>
</div>
<input class="btn btn-primary" type="submit" value="Добавить" (click)="saveBook()"/>
